<div id="modal-pakta" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pakta Integritas</h5>
      </div>
      <div class="modal-body">
        <h3 style="font-weight:bold;text-align: center;">PENDAFTARAN PERIZINAN</h3>
        <h3 style="font-weight:bold;text-align: center;">PADA DIREKTORAT PELAYANAN KEFARMASIAN</h3>
        <br><br><br>
        <h5>Dengan ini saya menyatakan akan melaksanakan ketentuan sebagai berikut :</h5>
        <br>
        <h5>1. Berperan secara proaktif dalam upaya pencegahan dan pemberantasan Korupsi, Kolusi dan Nepotisme (KKN).
        </h5>
        <h5>2. Tidak memberikan secara langsung atau tidak langsung berupa suap, hadiah, bantuan atau bentuk lainnya
          yang tidak sesuai dengan ketentuan yang berlaku kepada petugas Direktorat Pelayanan Kefarmasian.</h5>
        <h5>3. Akan mengikuti proses pendaftaran perizinan secara bersih, transparan dan sesuai dengan prosedur yang
          telah ditetapkan.</h5>
        <h5>4. Apabila melanggar hal-hal yang tertera dalam pakta integritas ini bersedia menerima sanksi sesuai
          peraturan yang berlaku.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" id="modal-pakta-setuju">Setuju</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak Setuju</button>
      </div>
    </div>
  </div>
</div>
